@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
}

.sticky + .content {
    padding-top: 60px;
}

.navigation p{
    display: inline-block;
    font-size: 22px;
    width: 100px;

}

body > header > section > nav > div > a:nth-child(1) > p{
    margin-bottom: 2px;

}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

body{
    /* background: url('https://www.desktopbackground.org/download/1440x900/2014/10/24/845118_best-deadpool-movie-wallpapers_2578x1611_h.jpg'); */
    background: black;
}
/*
https://img.wallpapersafari.com/desktop/1440/900/94/84/VGaEvz.jpg
https://1.bp.blogspot.com/-Ya8QH0k5h_o/XUmnRvGGldI/AAAAAAAAAcQ/hxArI80dgZoRMp5QE25-T_Hd7IDx5XZhQCLcBGAs/s1600/cropped-fast-furious-presents-hobbs-shaw-5d3707e673d3e.jpg */


.site-header h1{font-size: 30px;
    color: white;
    width: 90%;
    /* margin-right: 40px; */
    padding: 40px 10px;
    margin-top: 20px;
    background: rgb(0, 0, 0);
    /* background: rgba(0, 0, 0, 0.5); */
}

.site-header h2{font-size: 20px;
    color: white;
    width: 90%;
    /* margin-right: 40px; */
    padding: 40px 10px;
    margin-top: 20px;
    background: rgb(228, 222, 222);
    background: rgba(0, 0, 0, 0.5);
}

.site-header{
    margin-left: 140px;
}

#navbar{
    height: 65px;
}

body > main > section{
    margin-top: 70px;
}

.site-header-login div{

    margin-top: 50px;
    margin-left: 200px;
    margin-right: 500px;
}

.site-header-login{
    margin-top: 1px;
    font-size: 30px;
    color: #f9f9f9;
    margin-left: 300px;
}

body > main > section:nth-child(1) > h1{
    color: #f9f9f9;
    text-align: center;
    /* margin-left: 530px; */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:darkslategrey;
    color: white;
    text-align: center;
}



body > main > section.site-header-login > div > div{
    font-size: inherit;
    margin-top: 10px;
    margin-left: 4px;
}


body > main > section > h2 > span{
    margin-left: 33px;
}

body > main > section > h3{
    font-size: 40px;
    color: aliceblue;
}

#home-body{
    background: url('https://media.cdnp.elobservador.com.uy/102019/1571417221882.jpg');
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black  ;
    text-decoration: none;
    cursor: pointer;
}

#myBtn{
    color: #fefefe;
    background: black;
}

.btn{
    border-color:black;
}

#img-frame-TV{

}

#img-frame-TV > div > img{
    margin-left: 240px;
}

#img-frame-COMP{
    width: 500px;
    margin-left: 300px;
}

#img-frame-TV > div{
    /* margin: -10% -5% -5% 0; */
    position: relative;
    /* display: block; */
}

#img-frame-TV > div > div{

    margin-left: 557px;
    max-width: 73%;
    max-height: 51%;
    position: absolute;
    top: 46%;
    /* left: 50%; */
    -webkit-transform: translate(-50%,-50%);
}

