<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/fragment :: head">
</head>
<body>
<header th:replace="fragments/fragment :: header"></header>
<main>
    <section id="top_movies" class="clearfix">
        <div class="wrapper" id="moviesList">
            <header>
                <a href="#">#Random</a>
            </header>
            <div class="row mt-3 mb-3">
                <div class="post">
                    <img class="movie-home-images" src="https://resizing.flixster.com/FQ9SS59M0qKg7f7U91ofk2UVy_s=/ems.ZW1zLXByZC1hc3NldHMvbW92aWVzLzg3NGEwM2NkLTI2N2QtNDk4ZS05OGY5LWU0MmQ5NzAyZGJmMC53ZWJw" alt="The Martian">
                    <a class="movie-name" href="">DeadPool</a>
                    <p class="post_info">PG13 | 109 minutes</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="fragments/fragment :: footer"></footer>
<script th:replace="fragments/fragment :: script"></script>
</body>
</html>