<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
<header th:replace="fragments/fragment :: header" ></header>
<main>
    <section style=" background: url('https://cdn.vox-cdn.com/thumbor/6rU5sGc4CfG7UH2UTjF8kltb-UQ=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/6389217/deadpool-gallery-03-gallery-image.0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 6.5em 0;" class="clearfix">
        <div id="banner_content_wrapper">
            <div id="poster">
                <img src="https://resizing.flixster.com/FQ9SS59M0qKg7f7U91ofk2UVy_s=/ems.ZW1zLXByZC1hc3NldHMvbW92aWVzLzg3NGEwM2NkLTI2N2QtNDk4ZS05OGY5LWU0MmQ5NzAyZGJmMC53ZWJw" alt="DeadPool"
                     class="featured_image">
                <a href="movie.html" class="play_button"><i class="fas fa-play"></i>
                </a>

            </div>
            <div id="content">
                <h2>DeadPool</h2>
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star inactive"></i>
                </div>
                <p class="description"> Ajax, a twisted scientist, experiments on Wade Wilson, a mercenary, to cure him of cancer and give him healing powers. However, the experiment leaves Wade disfigured and he decides to exact revenge.</p>

                <p class="info">R <span>|</span>108 min <span>|</span>Action,
                    Adventure, Comedy <span>|</span> 12 february 2016</p>
            </div>
        </div>
    </section>
</main>
<footer th:replace="fragments/fragment :: footer"></footer>
<script th:replace="fragments/fragment :: script"></script>

</body>
</html>


